<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>REGISTER</title>
</head>
<body style="background-color: darkorange; display: flex; justify-content: center; align-items: center; height: 95vh">
<style>
    .mycontainer {
        background-color: mediumspringgreen;
        border-radius: 35px;
        height: 400px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .mycontainer input {
        width: 250px;
        height: 50px;
        padding: 1rem;
        border-radius: 15px;
        margin-bottom: 10px;
    }
    h3 {
        margin-bottom: 60px;
        margin-left: 40px;
    }
</style>
<div class="mycontainer">

<form action="" method="post" id="form">
     <h3>Регистрация</h3>
    <input name="email" placeholder="Введите Email"><br>
     <input name="password"  placeholder="Введите пароль"><br>
     <input  placeholder="Введите повтор пароля"><br>
    <button id='send' class="btn btn-primary">Зарегистрироваться</button>

</form>
    </div>
<script>
    let inputs = document.getElementsByTagName('input')
    form.onsubmit = (e) => {
        if (!inputs[0].value.includes('@')) {
            e.preventDefault()
            alert('В вашем email нет собачки')
            return
        }
        if (inputs[0].value.replaceAll(' ', '') === '' || inputs[1].value.replaceAll(' ', '') === '') {
            e.preventDefault()
            alert('Есть пустые поля!')
            return
        }
        else if (inputs[1].value === inputs[2].value) {
            console.log('Запрос отправлен...')
        }
        else {
            e.preventDefault()
            alert('Пароли не совпадают!')
        }
    }
</script>
</body>
</html>